.vscode
.conda
/data/
/Lab1/data/
/Lab2/src/datasets/
/Lab2/src/__pycache__/
Lab1/__pycache__/

Lab3/__pycache__/
Lab3/data/
Lab3/resnet.pth
Lab4/data/
Lab4/Kitti/__pycache__/KittiDataset.cpython-311.pyc
Lab4/Kitti/__pycache__/KittiAnchors.cpython-311.pyc
Lab4/__pycache__/
Lab4/models/resnet18.pth
Lab4/models/mod.pth
