.vscode
/data
Lab1/__pychache__
Lab1/data/mnist/raw/t10k-images-idx3-ubyte
Lab1/data/mnist/raw/t10k-images-idx3-ubyte.gz
Lab1/data/mnist/raw/t10k-labels-idx1-ubyte
Lab1/data/mnist/raw/t10k-labels-idx1-ubyte.gz
Lab1/data/mnist/raw/train-images-idx3-ubyte
Lab1/data/mnist/raw/train-images-idx3-ubyte.gz
Lab1/data/mnist/raw/train-labels-idx1-ubyte
Lab1/data/mnist/raw/train-labels-idx1-ubyte.gz
Lab1/__pycache__/model.cpython-39.pyc
Lab1/__pycache__/model.cpython-311.pyc
